version: "3.9"
services:
  collect:
    build: .
    ports:
      - "8080:8080"
    environment: 
      - INFLUX_DB_TOCKEN=<YOUR_INFLUXDB_TOCKEN>
      - INFLUX_DB_HOST=http://open_data_tyrol_influxdb_1:8086
      - INFLUX_DB_ORG=influxdb
  influxdb:
    image: "influxdb:2.0"
    ports:
      - "8086:8086"
    volumes: 
      - type: bind
        source: "<YOUR_LOCAL_DIRECOTRY>"
        target: "/var/lib/influxdb2"
